@media only screen and (max-width: 1385px) {
    .box {
        width: 35%;
        margin-bottom: 50px;
        
    }
    .titlediv{
        text-align: center;
    }
    .sectiontitle2{
        margin: 0 auto;
    }
}
@media only screen and (max-width: 923px) {
    .header-bg-img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }
    .nav{
        display: none;
    }
    .burger-bar{
        display: block;
        font-size: 40px;
    }
    .section1{
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        width: 45%;
        margin-bottom: 50px;

        
    }
}

    @media only screen and (max-width: 769px) {
        .header-bg-img {
            width: 100%;
            height: auto;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
        }
        .nav{
            display: none;
        }
        .header-div {
            justify-content: flex-end;
            margin-bottom: 50px;
        }
        .burger-bar{
            display: block;
            font-size: 30px;
            margin-left: 150px;
        }
        .aboutus{
            margin: 0 auto;
        }
        .maintitle{
            width: 100%;
            font-size: 30px;

        }
        
        .sectiondiv1 {
            height: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items:center ;
        }
        .section1{
            display: flex;
            flex-wrap: wrap;
        }

        .sectiontitle1 {
    
                font-size: 25px;
                line-height: 42px;
                width: auto;
                text-align: center;
        }
        .image1 {
            margin-bottom: 15px;
        }
        .image2{
            margin: 0 auto;

        }
        .sectiondiv2 {
            height: auto;
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sectiontitle2{
            font-size: 25px;
            line-height: 42px;
            margin-top: 30px;

        }
        .div-wrapper {
            align-items:center ;
        }
        .box {
            width: 100%;
            margin-bottom: 50px;
    
            
        }
    }


