/* Variable */
:root {
  --blue: #5863f8;
}
/* HEADER */

.header-bg-img {
  background-image: url(../images/header-image.jpg);
  width: 100%;
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 128px 87px;
}
.header-div {
  display: flex;
  max-width: 1366px;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
}
.list {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
li:first-child {
  margin-right: 49px;
}
li:nth-child(3) {
  margin-left: 46px;
}
li:nth-child(4) {
  margin-left: 47px;
}
li:nth-child(5) {
  margin-left: 49px;
}
li:nth-child(6) {
  margin-left: 49px;
}

.burger-bar{
  display: none;
}

.active {
  color: #5863f8;
}

.fas {
  color: #ffffff;
}

.aboutus {
  margin-top: 96px;
  width: 195px;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
}
.maintitle {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 15.5px;
}
.info {
  font-family: "Poppins-medium";
  font-size: 14px;
  color: #ffffff;
}
.divider {
  width: 1px;
  height: 19px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

/* SECTION 1*/
.section1 {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.sectiondiv1 {
  height: 388px;
  max-width: 444px;
  width: 100%;
  margin-top: 128px;
}

.blueaboutus {
  font-family: "Poppins";
  font-size: 14px;
  color: var(--blue);
}

.sectiontitle1 {
  color: #000000;
  font-size: 42px;
  font-family: "Poppins";
  max-width: 374px;
  width: 100%;
  line-height: 56px;
}
.paragraph1 {
  font-family: "Poppins-medium";
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.paragraph2 {
  font-family: "Poppins-Regular";
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}
.button {
  max-width: 184px;
  width: 100%;
  height: 50px;
  background-color: #5863f8;
  position: relative;
}
.readmore {
  font-family: "Poppins-Regular";
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: cornflowerblue;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}

.button:active {
  border: none;
  border-radius: 15px;
  background-color: cornflowerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sectiondiv2 {
  height: 461px;
  max-width: 536px;
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}
.image1 {
  width: 260px;
  height: 185px;
  object-fit: cover;
}
.image2 {
  width: 260px;
  height: 185px;
  object-fit: cover;
  margin-left: 16px;
}
.image3 {
  max-width: 536px;
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-top: 16px;
}

/* Section 2 */

.section2 {
  background-image: url(../images/section-image.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  padding: 92px 139px;
}

.sectiontitle2 {
  font-family: "Poppins";
  font-size: 42px;
  color: #ffffff;
  max-width: 376px;
  width: 100%;
  height: 115px;
  line-height: 56px;
  margin-top: 20px;
}

.div-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box {
  width: 260px;
  height: 260px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 34px;
}

.logodiv {
  width: 59px;
  height: 58px;
  border-radius: 50px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-img {
  width: 32px;
  height: 32px;
}
.boxtitle {
  font-family: "Poppins";
  font-size: 18px;
  width: 166px;
  text-align: center;
  color: #000000;
  line-height: 27px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.box-paragraph {
  max-width: 221px;
  width: 100%;
  height: 62px;
  font-family: "Poppins-medium";
  font-size: 14px;
  line-height: 21px;
  color: #b1b1b1;
  text-align: center;
}
